* p {border: 1px solid black;
	box-sizing: border-box;
	font-family: Arial;}

*#p1 {
	background-color: blue;
}

*#p2 {
	background-color: grey;
	}

*#p3 {
	background-color: green;
}

#p4 {
	width: 100px;
	background-color: pink;
	position: relative;
	float: right;
	top: 0;
	right: 0;
}
#p5 {
	width: 100px;
    background-color: red;
	position: relative;
	float: left;
	top: 0;
	right: 0;
}
#p6 {
	width: 100px;
	background-color: lightyellow;
	position: relative;
	float: left;
	top: 0;
	right: 0;
}

@media (max-width 767px) 
	

@media (min-width: 768px) and (max-width: 991px);
<div>#p1 {width: 50%}

#p2 {width: 50%}
</div>
<div>
#p3 {width: 100%}
</div>

@media (min-width: 992px);
#p1 {
	width: 33%}

#p2 {
	width: 33%}

#p3 {
	width: 33%}

